.itemList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.add-item__input {
    width: 100%;
}

.add-item {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid rgba($blue, 0.8);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.add-item-wrapper {
    position: relative;
}

.add-item__input {
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    appearance: none;
    border: 0;
    border-radius: 5px;

}

.add-item__button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    appearance: none;
    padding: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 5px;
    outline: none;
    border: 0;
    color: $white;
    font-size: 0.8rem;

    &.green {
        background-color: $green;
    }

    &.blue {
        background-color: $light-blue;
    }
}

.itemList__item {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.itemList__item__name {
    font-weight: bold;
}

.itemList__item__button {
    appearance: none;
    border-radius: 5px;
    border: 1px solid rgba($blue, 0.8);
    color: $text;
    background: $dark-blue;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    cursor: pointer;
}
