.app {
    @include make-container();
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 520px;
    width: 100%;
}
.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.canvas {
    margin: auto;
    width: 100%;
}
.controller__slider {
    max-width: 16rem;
    width: 100%;
}