// basic
$browser-base: 16;
body {
  color: $text;
  font-family: $typeface-body;
  font-size: #{14/$browser-base}rem;
  line-height: #{25/$browser-base}rem;
  font-display: swap;
  @include media-breakpoint-up(md) {
    font-size: #{16/$browser-base}rem;
    line-height: #{24/$browser-base}rem;
  }
}

p {
  margin: 0;
}

ul, ol {
  margin: 2em 0;
}

h1, h2, h3, h4, h5, h6,
.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6,
%u-h1, %u-h2, %u-h3, %u-h4, %u-h5, %u-h6 {
  font-family: $typeface-body;
  font-weight: $weight-medium;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
h1, .u-h1, %u-h1 {
  font-size: #{34/$browser-base}rem;
  line-height: #{38/$browser-base}rem;
  @include media-breakpoint-up(md) {
    font-size: #{72/$browser-base}rem;
    line-height: #{90/$browser-base}rem;
  }
}
h2, .u-h2, %u-h2 {
  font-size: #{24/$browser-base}rem;
  line-height: #{28/$browser-base}rem;
  color: $text;
  font-weight: bold;
  @include media-breakpoint-up(md) {
    font-size: #{34/$browser-base}rem;
    line-height: #{38/$browser-base}rem;
  }
}
h3, .u-h3, %u-h3 {
  font-size: #{24/$browser-base}rem;
  line-height: #{32/$browser-base}rem;
  color: $text;
  @include media-breakpoint-up(md) {
    font-size: #{30/$browser-base}rem;
    line-height: #{32/$browser-base}rem;
  }
}
h4, .u-h4, %u-h4 {
  font-size: #{14/$browser-base}rem;
  line-height: #{18/$browser-base}rem;
  @include media-breakpoint-up(md) {
    font-size: #{16/$browser-base}rem;
    line-height: #{18/$browser-base}rem;
  }
}
