// Color Palette
$navy:                       #242b49;
$red:                        #ed1c24;
$yellow:                     #FDBA2C;
$dark-yellow:                #5D543C;
$white:                      #f5f5f5;
$blue:                       #253850;
$dark-blue:                 #1D2737;
$green:                      #19A94F;
$black:                      #1b1b1b;
$light-green:                #C8E9D6;
$light-blue:                 #1C80DF;
$light-grey:                 #8392A6;

// - Defined Variables --- Use these.
$text:                       $black;
$error:                      $red;

// Breakpoint variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  stats: 1333px,
  pageWidth: 1400px,
  gridWidth: 1600px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes:       true !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns:                12 !default;
$grid-gutter-width:           40px !default;

// custom weights
$weight-light:               300;
$weight-medium:              400;
$weight-semi-bold:           600;
$weight-heavy:               800;


$typeface-body:              Arial , Helvetica;

//spacing
$spacer-xs:                  0.75rem;
$spacer-s:                   1.5rem;
$spacer-m-mobile:            1rem;
$spacer-m:                   2.35rem;
$spacer-l-mobile:            2.35rem;
$spacer-l:                   4.7rem;
$page-spacer-top:            10rem;
$page-spacer-top-m:          2.5rem;
$page-spacer-top-md-m:       3.5rem;
$page-spacer-top-md:         15rem;
$page-spacer-top-lg-m:       5rem;
$page-spacer-top-lg:         20rem;


$grid-max-width:             1400px;
$page-max-width:             1600px;
